h1 {
    color: antiquewhite;
    margin-top: .7rem;
}

.container-film {
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
    overflow-x: hidden;
    padding: 25px;

    button {
        border: none;
        background-color: transparent;
    }
}