<!-- <p>contact works!</p> -->
<div class="background">
    <form action="" class="form-contact col-lg-5" role="form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <h3>Richiedi informazioni</h3>
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome" formControlName="nome">
            <div class="arrow-up-error"
                [ngClass]="{show :myForm.get('nome').invalid && (myForm.get('nome').touched || myForm.submitted)}">
                <div *ngIf="myForm.get('nome').errors?.required">
                    Il nome è obbligatorio
                </div>
                <div *ngIf="myForm.get('nome').errors?.pattern">
                    Formato nome invalido
                </div>
            </div>
        </div>
        <div>
            <label for="cognome">Cognome</label>
            <input type="text" id="cognome" name="cognome" placeholder="Cognome" formControlName="cognome">
            <div class="arrow-up-error"
                [ngClass]="{show : myForm.get('cognome').invalid && (myForm.get('cognome').touched || myForm.submitted)}">
                <div *ngIf="myForm.get('cognome').errors?.required">
                    Il cognome è obbligatorio
                </div>
                <div *ngIf="myForm.get('cognome').errors?.pattern">
                    Formato cognome invalido
                </div>
            </div>
        </div>
        <div>
            <label for="email-message">Email</label>
            <input type="email" name="email" id="email-message" placeholder="Email" autocomplete="off"
                formControlName="email">
            <div class="arrow-up-error"
                [ngClass]="{show : myForm.get('email').invalid && (myForm.get('email').touched || myForm.submitted)}">
                <div *ngIf="myForm.get('email').errors?.required">
                    L'email è obbligatoria
                </div>
                <div *ngIf="myForm.get('email').errors?.email">
                    Formato email invalido
                </div>
            </div>
        </div>
        <div>
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" name="telefono" placeholder="Telefono" formControlName="telefono">
            <div class="arrow-up-error"
                [ngClass]="{show : myForm.get('telefono').invalid && (myForm.get('telefono').touched || myForm.submitted)}">
                <div *ngIf="myForm.get('telefono').errors?.required">
                    Il telefono è obbligatorio
                </div>
                <div *ngIf="myForm.get('telefono').errors?.pattern">
                    Formato telefono invalido
                </div>
            </div>
        </div>
        <div>
            <label for="comment">Messaggio</label>
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Inserisci il messaggio"
                formControlName="messaggio"></textarea>
            <div class="arrow-up-error"
                [ngClass]="{show : myForm.get('messaggio').invalid && (myForm.get('messaggio').touched || myForm.submitted)}">
                <div *ngIf="myForm.get('messaggio').errors?.required">
                    Il messaggio è obbligatorio
                </div>
                <div *ngIf="myForm.get('messaggio').errors?.minlength">
                    Il messaggio deve contenere almeno {{ myForm.get('messaggio').errors.minlength.requiredLength }}
                    caratteri
                </div>
                <div *ngIf="myForm.get('messaggio').errors?.maxlength">
                    Il messaggio non può contenere più di {{ myForm.get('messaggio').errors.maxlength.requiredLength }}
                    caratteri
                </div>
            </div>
        </div>
        <div class="privacy">
            <input type="checkbox" name="privacy" id="privacy" formControlName="checkbox">
            <label for="privacy">Accetta le nostre politiche di privacy</label>
            <div class="arrow-up-error"
                [ngClass]="{show : myForm.get('checkbox').invalid && (myForm.get('checkbox').touched || myForm.submitted)}">
                <div *ngIf="myForm.get('checkbox').errors?.required">
                    Accettazione della privacy (obbligatoria)
                </div>
            </div>
        </div>
        <button type="submit" class="submit" (click)="myForm.submitted = true">Invia</button>
    </form>
</div>