@import '../../../partials/variables';


.background {
    background-color: $background;
}

.form-contact {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-top: 1rem;
}

.form-contact h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-contact label {
    font-weight: bold;
    margin-top: 1rem;
}


.form-contact input {
    width: 100%;
}

.form-contact textarea {
    width: 95%;
    height: 13rem;
}

.privacy {
    display: flex;
    align-items: center;
}

.privacy label {
    margin: 0 0 0 10px;
}

.privacy input[type='checkbox'] {
    width: auto;
}

.form-contact input,
.form-contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-contact input:focus,
.form-contact textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #f1c40f;
}

.form-contact button[type='submit'] {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f1c40f;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.form-contact button[type='submit']:hover {
    background-color: #e67e22;
}

.arrow-up-error {
    position: relative;
    background-color: #fca311;
    border-radius: 5px;
    transition: .3s ease-in-out;
    padding: 5px;
    text-align: center;
    font-size: small;
    margin-top: .4rem;
    transition: .3s;
}

.arrow-up-error::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fca311;
    position: absolute;
    top: -4px;
    left: 2%;
}

@media (min-width: 500px) {
    .form-contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-template-areas:
            "h3 h3"
            "nome cognome"
            "email telefono"
            "comment comment"
            "checkbox checkbox"
            "submit submit";
    }

    .form-contact h3 {
        grid-column: 1 / -1;
    }

    .form-contact div:nth-child(2) {
        grid-area: nome;
    }

    .form-contact div:nth-child(3) {
        grid-area: cognome;
    }

    .form-contact div:nth-child(4) {
        grid-area: email;
    }

    .form-contact div:nth-child(5) {
        grid-area: telefono;
    }

    .form-contact div:nth-child(6) {
        grid-area: comment;

    }

    .form-contact div:nth-child(7) {
        grid-area: checkbox;
    }

    .form-contact button[type='submit'] {
        grid-area: submit;
    }
}