<form action="" id="form-registrazione" class="form" role="form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <h2>Registrati</h2>
    <div class="field">
        <label for="email-registrazione">Email</label>
        <input type="email" name="email" id="email-registrazione" autocomplete="off" placeholder="Email"
            formControlName="email">
        <div class="arrow-up-error"
            [ngClass]="{show :myForm.get('email').invalid && (myForm.get('email').touched || myForm.submitted)}">
            <div *ngIf="myForm.get('email').errors?.required">
                L'email è obbligatoria
            </div>
            <div *ngIf="myForm.get('email').errors?.email">
                Formato email invalido
            </div>
        </div>
    </div>
    <div class="field">
        <label for="password-registrazione">Password</label>
        <input type="password" name="password" id="password-registrazione" placeholder="Password"
            formControlName="password">
        <div class="arrow-up-error"
            [ngClass]="{show : myForm.get('password').invalid && (myForm.get('password').touched || myForm.submitted)}">
            <div *ngIf="myForm.get('password').errors?.required">
                La password è obbligatoria
            </div>
            <div *ngIf="myForm.get('password').errors?.minlength">
                La password deve contenere almeno 8 caratteri
            </div>
        </div>
    </div>
    <div class="field">
        <label for="password-ripeti">Ripeti password</label>
        <input type="password" name="password-ripeti" id="password-ripeti" formControlName="repeatPassword"
            placeholder="Ripeti password">
        <div class="arrow-up-error"
            [ngClass]="{show : myForm.get('repeatPassword').invalid && (myForm.get('repeatPassword').touched || myForm.submitted)}">
            <div *ngIf="myForm.get('repeatPassword').errors?.required">
                Conferma la tua password
            </div>
            <div *ngIf="myForm.get('repeatPassword').errors?.minlength">
                La password deve contenere almeno 8 caratteri
            </div>
        </div>
    </div>
    <div class="privacy">
        <input type="checkbox" name="privacy" id="privacy" formControlName="checkbox">
        <label for="privacy">Accetta le nostre politiche di privacy</label>
        <div class="arrow-up-error"
            [ngClass]="{show : myForm.get('checkbox').invalid && (myForm.get('checkbox').touched || myForm.submitted)}">
            <div *ngIf="myForm.get('checkbox').errors?.required">
                Accettazione della privacy (obbligatoria)
            </div>
        </div>
    </div>
    <div class="button-register">
        <button type="submit" class="submit" (click)="myForm.submitted = true">Registrati</button>
        <div class="arrow-up-error credenziali" [ngClass]="{show : myForm.invalid && myForm.submitted}">
            Credenziali non valide
        </div>
    </div>
    <p class="link-home">Torna alla home di accesso <a routerLink="/enter">cliccando qui</a></p>
</form>
<dialog open *ngIf="complete">
    <p>Registrazione completata! <br>Ora puoi effetturare il <a href="#" routerLink="/login">login</a></p>
</dialog>
<dialog open *ngIf="notValid">
    <i class="bi bi-x" (click)="closeError()"></i>
    <p>Le credenziali che hai fornito sono già state registrate. Ti preghiamo di provare con un'altra combinazione di
        nome utente e password</p>
</dialog>
<div class="overlay-dialog" *ngIf="complete || notValid"></div>