@import '../../../partials/variables';

.form {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    margin-top: 5%;
    transition: all .4s ease-in-out;
    position: relative;
}

.arrow-up-error {
    position: relative;
    background-color: #fca311;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    font-size: small;
    margin-top: .4rem;
    width: 80%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.arrow-up-error.show {
    opacity: 1;
    visibility: visible;
    padding: 5px;
}

.arrow-up-error::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fca311;
    position: absolute;
    top: -4px;
    left: 2%;
}

.field {
    margin-bottom: .1rem;
}

.form h2 {
    font-size: x-large;
}

.form h4 {
    margin-top: 1rem;
    text-align: center;
}

.form input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    padding: 10px;
    caret-color: #14213d;
    border: 1px solid #ced4da;
}

.form input:focus {
    outline: none;
}

.button-register {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #f1c40f;
        color: #fff;
        font-weight: bold;
        transition: all 0.3s ease;
    }
}

dialog {
    position: absolute;
    top: 50%;
}

.form button[type='submit']:hover {
    background-color: #e67e22;
}


.form a {
    font-size: small;
}

.div-checkbox {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #c1121f;
}

.privacy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    margin-top: .7rem;

    .arrow-up-error {
        flex: 1;

        &::before {
            left: .7%;
        }

    }
}

.privacy label {
    margin: 0 0 0 10px;
}

.privacy input[type='checkbox'] {
    width: auto;
}

button:focus {
    outline: none;
}

.link-home {
    margin-top: 1rem;
    text-align: center;
}

.credenziali {
    margin: 0 auto;
    margin-top: 1rem;

    &::before {
        border: 0;
    }
}