@import '../../../partials/variables';
@import '../../../partials/fonts';

#footer {
    border: $black-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    background-color: #fca311;

    #img {
        max-width: 15%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }
}


.social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        cursor: pointer;
        margin-left: .5rem;

        &:first-of-type {
            color: green, ;
        }

        &:nth-of-type(2) {
            color: #000;
        }

        &:nth-of-type(3) {
            color: violet;
        }

        &:nth-of-type(4) {
            color: blue;
        }

        &:last-of-type {
            color: red;
        }

        a {
            font-size: 1.5em;
        }
    }
}

@media (max-width: 550px) {
    #footer {
        flex-direction: column;
        align-items: center;

        .m-3 {
            text-align: center;
        }
    }
}