<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
    <div id="logo" class="navbar-brand">
        <img src="../../assets/img/logo-tipo.png" alt="LAB-TV">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        *ngIf="buttonToggle">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Accedi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contatti</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
        <app-search-bar (searchEmit)="search($event)"></app-search-bar>
    </div>
</nav>