<div class="row">
    <marquee width="100%" direction="right">
        <span>Nuovi film ogni settimana</span>
        <span>Film for life </span>
        <span>Divertiti con i film più popolari del momento</span>
        <span>Scopri le ultime uscite cinematografiche</span>
        <span>Guarda i tuoi film preferiti in alta definizione</span>
    </marquee>
</div>
<div class="container-fluid">
    <div class="row">
        <app-header class="col-sm-12"></app-header>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="row">
        <app-footer></app-footer>
    </div>
</div>