
.icon-footertelevision:before { content: '\67'; } /* 'g' */
.icon-footermail:before { content: '\68'; } /* 'h' */
.icon-footerinstagram:before { content: '\69'; } /* 'i' */
.icon-footerfacebook-squared:before { content: '\6a'; } /* 'j' */
.icon-footerpinterest:before { content: '\6b'; } /* 'k' */
