.form {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    margin-top: 5%;
}

.arrow-up-error {
    width: 90%;
    position: relative;
    background-color: #fca311;
    border-radius: 5px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-size: small;
    margin-top: .4rem;
    transition: .4s ease-in-out;
}

.arrow-up-error.show {
    opacity: 1;
    visibility: visible;
    padding: 5px;
}

.arrow-up-error::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fca311;
    position: absolute;
    top: -4px;
    left: 2%;
}

.form h2 {
    font-size: x-large;
}

.form h4 {
    margin-top: 1rem;
    text-align: center;
}

.form input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    padding: 10px;
    caret-color: #14213d;
    border: 1px solid #ced4da;
}

.form input:focus {
    outline: none;
}


.form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f1c40f;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.form button[type='submit']:hover {
    background-color: #e67e22;
}


.form a {
    font-size: small;
}

.div-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

input[type="checkbox"] {
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #c1121f;
}

.button-register {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #f1c40f;
        color: #fff;
        font-weight: bold;
        transition: all 0.3s ease;
    }
}

.credenziali {
    margin: 0 auto;
    margin-top: 1rem;

    &::before {
        border: 0;
    }
}