<div class="container-fluid">
    <div>
        <h1 class="p-3 d-flex justify-content-between align-items-center">Area Riservata <span class="delete"
                (click)="delete()"><i class="bi bi-trash-fill"></i></span> <span routerLink="/dashboard">Torna in
                dashboard</span>
        </h1>
    </div>
    <p id="not-film" *ngIf="noFilm">Non è presente nessun film nella tua area riservata. <br> Torna nella dashboard per
        acquistare
        un film</p>
    <div class="row justify-content-start">
        <div class="card col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let film of buyedFilms">
            <img class="card-img-top" src="{{buyedFilm.imageLink + film?.image}}" alt="{{film?.title}}"
                onerror="this.onerror=null; this.src='../../../assets/img/image-not-found.webp'">
            <div class="card-body">
                <h5 class="card-title">{{film?.title}}</h5>
                <p class="card-text">{{film?.date}}</p>
                <p>Codice: {{film?.id}}</p>
            </div>
            <i class="bi bi-trash-fill text-center mt-2" id="delete" *ngIf="deleteFilm"
                (click)="deleteFilmFromArea(film)"></i>
        </div>
    </div>
</div>