@import '../../../partials/variables';

.container-fluid {
    color: antiquewhite;

    h1,
    span {
        margin-bottom: 0;
    }

    span {
        font-size: medium;
        cursor: pointer;
        transition: all .5 ease-in-out;

        &:hover {
            color: crimson;
        }

        .delete:hover {
            transform: scale(1.2);
        }
    }

    #not-film {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
    }


    hr {
        border: 1px solid antiquewhite;
    }

    @include card;



    #delete {
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
}