<div class="container-enter container">
    <div class="lab-tv">
        <h1>Benvenuto in LAB-TV</h1>
        <p>La piattaforma di streaming che stavi cercando</p>
    </div>
    <div class="access row">
        <div class="login col-sm-12 col-md-6">
            <h3>Sei già registrato?</h3>
            <p>Effettua il <a href="#" routerLink="/login">login</a></p>
        </div>
        <div class="register col-sm-12 col-md-6">
            <h3>Non sei ancora registrato?</h3>
            <p>Registrati cliccando su <a href="#" routerLink="/register">questo link</a></p>
        </div>
    </div>
</div>