<div class="container-enter container">
    <div class="lab-tv">
        <h1>Benvenuto in LAB-TV</h1>
        <p>La piattaforma di streaming che stavi cercando</p>
    </div>
    <div class="access row">
        <div class="login col-sm-12 col-md-5">
            <h3>Sei già registrato?</h3>
            <p>Effettua il <a routerLink="/login">login</a></p>
        </div>
        <div class="register col-sm-12 col-md-5">
            <h3>Non sei ancora registrato?</h3>
            <p>Registrati cliccando su <a routerLink="/register">questo link</a></p>
        </div>
    </div>
    <p class="text-center mt-3">Per ulteriori informazioni, puoi cliccare su <a routerLink="/contact">questo link</a>
        per
        aprire il modulo
        dei contatti</p>
</div>