<div class="container-details">
    <div class="container-iframe">
        <iframe class="responsive-iframe" *ngIf="videoKey" [src]="films.sanitizeUrl(videoKey)" allowfullscreen></iframe>
        <div class="error" *ngIf="error">
            <p>Il trailer risulta temporaneamente non disponibile. <br> Riprovare più tardi <br> ERROR 404
            </p>
        </div>
    </div>
    <div class="details m-2">
        <section class="info">
            <p class="d-flex justify-content-between titoloVoto">{{film?.title ||
                film?.name}}<span>{{film?.vote_average}}/10</span>
            </p>
            <div class="container-genres d-flex flex-wrap justify-content-start">
                <p class="genres" *ngFor="let genre of genres">{{genre}}</p>
            </div>
            <div class="cast d-flex align-center flex-column justify-content-center text-start">
                <div class="director">
                    <p>Director: <span>{{director}}</span></p>
                </div>
                <div class="cast">
                    <p class="cast">Cast: <span>{{credits}}</span> </p>
                </div>
                <button type="button" class="button" (click)="buyMovie()">Acquista <i
                        class="bi bi-exclamation-triangle-fill" *ngIf="operationFailed"></i> </button>
                <dialog *ngIf="operationFailed" class="error">
                    <i class="bi bi-x" (click)="closeError()"></i>
                    <p>L'operazione non è andata a buon fine.<br>Connection problem<br>ERROR 404</p>
                </dialog>
                <dialog>
                    <p>Vuoi acquistare questo film?</p>
                    <div class="button-dlg">
                        <button type="button" (click)="buyOrNot(true,film)">Si</button>
                        <button type="button" (click)="buyOrNot(false)">No</button>
                    </div>
                </dialog>
            </div>
        </section>
        <div class="trama">
            <h3 class="overview-title">Overview</h3>
            <p>
                {{film?.overview}}
            </p>
        </div>
    </div>
    <app-similar-films [similarFilms]="similarFilms" (details)="goToDetailSimilarFilm($event)"></app-similar-films>
    <div class="d-flex justify-content-center m-3" *ngIf="variable_v.showMore">
        <button class="more" type="button" (click)="loadMore()" *ngIf="variable_v.showMore">Mostra altri</button>
    </div>